
### Node ###
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules

### Linux ###
.*
!.gitignore
!.git*
*~


### OSX ###
.DS_Store
.AppleDouble
.LSOverride
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

### SublimeText ###
# SublimeText project files
*.sublime-workspace

### SVN ###
.svn/

### vim ###
.*.s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

### Bower ###
bower_components
.bower


### Emacs ###
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive
