/**
 * ui-arrow
 *
 * common arrow
 *
 * @author yuji
 * @version 0.1.0
 * @update 2013/11/12
 *
 * @compatible IE6-10 / Chrome / Firefox / Opera / Safari
 *
 * @extend
 * .ui-arrow-t(op)               Arrow Up
 * .ui-arrow-r(ight)             Arrow Right
 * .ui-arrow-b(ottom)            Arrow down
 * .ui-arrow-l(eft)              Arrow Left
 *
 * .ui-arrow-a(lign)a(ll)        Align Centers
 * .ui-arrow-a(lign)v(ertical)   Align Vertical   Centers
 * .ui-arrow-a(lign)h(orizontal) Align Horizontal Centers
 *
 * @usage
 * <div style="position: relative;">
 *     <b class="ui-arrow ui-arrow-t ui-arrow-ah"></b>
 *     <span>content</span>
 * </div>
 */

/**
 * 1. Make IE6 border transparent.
 * 2. Default width.
 */
 .ui-arrow {
    position: absolute;
    width: 0;
    height: 0;
    font-size: 0;
    border-color: transparent;
    border-style: solid;
    _border-color: white;
    /* 1 */
    _filter: chroma(color=white);
    border-width: 5px;
    /* 2 */
}
/**
 * 1. Double border-width.
 * 2. Default border color.
 * 3. Support IE6/7
 */
 .ui-arrow-t {
    top: -10px;
    /* 1 */
    border-bottom-color: #00b075;
    /* 2 */
}
.ui-arrow-r {
    right: -10px;
    border-left-color: #00b075;
}
.ui-arrow-b {
    bottom: -10px;
    border-top-color: #00b075;
}
.ui-arrow-l {
    left: -10px;
    border-right-color: #00b075;
}
.ui-arrow-aa {
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    *bottom: auto;
    *top: 50%;
    *margin-top: -5px;
    /* 3 */
    *right: auto;
    *left: 50%;
    *margin-left: -5px;
}
.ui-arrow-av {
    margin: auto 0;
    top: 0;
    bottom: 0;
    *bottom: auto;
    *top: 50%;
    *margin-top: -5px;
}
.ui-arrow-ah {
    margin: 0 auto;
    left: 0;
    right: 0;
    *right: auto;
    *left: 50%;
    *margin-left: -5px;
}
.ui-flag {
    overflow: hidden;
    line-height: 1;
    padding-bottom: 5px;
    position: absolute;
    z-index: 1;
    pointer-events: none;
    -webkit-transform:scale(.8);
    -moz-transform:scale(.8);
    -ms-transform:scale(.8);
    transform:scale(.8);
    /*-webkit-filter: drop-shadow(0 1px 1px rgba(0,0,0,.2));
    -moz-filter: drop-shadow(0 1px 1px rgba(0,0,0,.2));
    -ms-filter: drop-shadow(0 1px 1px rgba(0,0,0,.2));
    filter: drop-shadow(0 1px 1px rgba(0,0,0,.2));*/
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
}
.ui-flag_t {
    display: inline-block;
    padding: 1px 3px;
    padding: 1px 2px\9;
    border-radius: 3px;
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-size: 8px\9;
    color: #fff;
    background: #F66540;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .15);
}
.ui-flag .ui-arrow {
    bottom: -3px;
    right: -4px;
    border-top-color: #F66540;
    border-width: 3px\9;
    bottom: -1px\9;
    *bottom: 1px;
}
.ui-flag--green .ui-flag_t {
    background: #00ac73;
}
.ui-flag--green .ui-arrow {
    border-top-color: #00ac73;
}
.ui-flag--blue .ui-flag_t {
    background: #4787ED;
}
.ui-flag--blue .ui-arrow {
    border-top-color: #4787ED;
}
.ui-btn {
    background-color: #00CD8D;
    background-image: -o-linear-gradient(-90deg, #00CD8D 0%, #01BF87 100%);
    background-image: -moz-linear-gradient(-90deg, #00CD8D 0%, #01BF87 100%);
    background-image: -webkit-linear-gradient(-90deg, #00CD8D 0%, #01BF87 100%);
    background-image: -ms-linear-gradient(-90deg, #00CD8D 0%, #01BF87 100%);
    background-image: linear-gradient(-180deg, #00CD8D 0%, #01BF87 100%);
    border: 1px solid #00AF82;
    border-radius: 2px;
    padding: 0 10px;
    display: inline-block;
    color: #fff;
    outline: none;
    text-align: center;
    box-shadow: 1px 1px 0 0 rgba(0, 0, 0, .1);
    font-weight: bold;
    vertical-align: bottom;
    cursor: pointer;
    min-width:40px;
    width: auto!important;
    width: 40px;
    height: 23px;
    line-height: 23px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
}
.ui-btn:active {
    box-shadow: none;
    background: #01BF87;
    text-shadow: none;
}
.ui-btn_i {
    display: inline-block;
    margin-right: 3px;
    vertical-align: middle;
}
.ui-btn-s {
    height: 19px;
    line-height: 19px;
    padding: 0 5px;
}
.ui-btn-l {
    height: 28px;
    line-height: 28px;
    font-size: 14px;
    padding: 0 15px;
}
.ui-btn--white {
    border-color: #ddd;
    color: #00AF82;
    font-weight: bold;
    background-color: #F5F8F7;
    box-shadow: 1px 1px 0 0 rgba(0, 0, 0, .035);
    background-image: -o-linear-gradient(-90deg, #FFFFFF 0%, #F5F8F7 100%);
    background-image: -moz-linear-gradient(-90deg, #FFFFFF 0%, #F5F8F7 100%);
    background-image: -webkit-linear-gradient(-90deg, #FFFFFF 0%, #F5F8F7 100%);
    background-image: -ms-linear-gradient(-90deg, #FFFFFF 0%, #F5F8F7 100%);
    background-image: linear-gradient(-180deg, #FFFFFF 0%, #F5F8F7 100%);
    text-shadow: none;
}
.ui-btn--white:active {
    background: #F5F8F7;
}
.ui-btn--gray {
    border-color: #999;
    background-color: #aaa;
    box-shadow: 1px 1px 0 0 rgba(0, 0, 0, .03);
    background-image: -o-linear-gradient(-90deg, #C0C0C0 0%, #aaa 100%);
    background-image: -moz-linear-gradient(-90deg, #C0C0C0 0%, #aaa 100%);
    background-image: -webkit-linear-gradient(-90deg, #C0C0C0 0%, #aaa 100%);
    background-image: -ms-linear-gradient(-90deg, #C0C0C0 0%, #aaa 100%);
    background-image: linear-gradient(-180deg, #C0C0C0 0%, #aaa 100%);
    /*text-shadow: none;*/
}
.ui-btn--gray:active {
    background: #aaa;
}
.ui-btn--blue {
    border-color: #2F75FD;
    background-color: #4883FD;
    /*box-shadow: 1px 1px 0 0 rgba(0,0,0,.03);*/
    background-image: -o-linear-gradient(-90deg, #4E8DFF 0%, #4883FD 100%);
    background-image: -moz-linear-gradient(-90deg, #4E8DFF 0%, #4883FD 100%);
    background-image: -webkit-linear-gradient(-90deg, #4E8DFF 0%, #4883FD 100%);
    background-image: -ms-linear-gradient(-90deg, #4E8DFF 0%, #4883FD 100%);
    background-image: linear-gradient(-180deg, #4E8DFF 0%, #4883FD 100%);
    /*text-shadow: none;*/
}
.ui-btn--blue:active {
    background: #4883FD;
}
.ui-btn_bar, .ui-btn_bar-r {
    width: 100%;
    display: inline-block;
}
.ui-btn_bar .ui-btn {
    float: left;
    margin-right: 10px;
}
.ui-btn_bar-r .ui-btn {
    margin: 0;
    float: right;
    margin-left: 10px;
}
.ui-bubble {
    position: absolute;
    z-index: 9;
    border-radius: 8px;
    line-height: 1.3;
    border: 1px solid #8ECDB7;
    border-bottom-color: #98d7c2;
    border-bottom-width: 2px;
    background-color: #fcfefd;
    padding: 4px 8px;
    width: 230px;
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, .05);
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.ui-bubble .ui-bubble_in, .ui-bubble .ui-bubble_out {
    border-width: 7px;
}
.ui-bubble-t .ui-bubble_in, .ui-bubble-t .ui-bubble_out {
    top: -14px;
    left: 20px;
    border-bottom-color: #8ECDB7;
}
.ui-bubble-t .ui-bubble_in {
    margin-top: 1px;
    border-bottom-color: #fcfefd;
}
.ui-bubble-b .ui-bubble_in, .ui-bubble-b .ui-bubble_out {
    bottom: -14px;
    left: 20px;
    border-top-color: #98d7c2;
}
.ui-bubble-b .ui-bubble_in {
    margin-bottom: 2px;
    border-top-color: #fcfefd;
}
.ui-bubble-l .ui-bubble_in, .ui-bubble-l .ui-bubble_out {
    left: -14px;
    top: 7px;
    border-right-color: #98d7c2;
}
.ui-bubble-l .ui-bubble_in {
    margin-left: 1px;
    border-right-color: #fcfefd;
}
.ui-bubble-l .ui-bubble_out {
    top: 7px;
    left: -16px;
    border-width: 8px;
}
.ui-bubble-r .ui-bubble_in, .ui-bubble-r .ui-bubble_out {
    right: -14px;
    top: 7px;
    border-left-color: #98d7c2;
}
.ui-bubble-r .ui-bubble_in {
    margin-right: 1px;
    border-left-color: #fcfefd;
}
.ui-bubble-r .ui-bubble_out {
    top: 7px;
    right: -16px;
    border-width: 8px;
}
/*.ui-bubble .ui-bubble_in{ left: 20px; top: -12px; right: auto; border-width: 6px; border-bottom-color: #fcfefd;}
.ui-bubble .ui-bubble_out{ left: 19px; top: -14px; right: auto; border-width: 7px; border-bottom-color: #98d7c2;}*/
 .ui-bubble .ui-bubble_more {
    padding-right: 5px;
    color: #00b075;
    display: inline-block;
    position: relative;
    float: right;
    margin-right: 7px;
    *margin-top: -20px;
}
.ui-bubble .ui-bubble_more:hover {
    text-decoration: underline;
}
.ui-bubble_close {
    font-size: 14px;
    color: #AEE2D0;
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
    margin-right: -10px;
    line-height: 0;
    outline: none;
    float: right;
    font-family: Tahoma;
    position: relative;
    top: 0;
    left: 0;
}
/*.ui-bubble_close:hover{ color: #00b075;}

.ui-bubble_close:active{ top: 1px; left: 1px;}*/
 .ui-bubble_t {
    color: #666;
    font: 12px/1.7 Arial;
}
.ui-bubble_i {
    float: left;
    margin: 3px 5px 0 0;
}
.ui-bubble .ui-btn_bar-r {
    margin-top: 5px;
}
.ui-bubble-s {
    border-radius: 4px;
    line-height: 1;
    padding: 0px 5px;
    width: auto;
    white-space: nowrap;
    border-bottom-width: 1px;
}
.ui-bubble-s .ui-bubble_in, .ui-bubble-s .ui-bubble_out {
    /*margin-left: -10px;*/
}
.ui-bubble-hover .ui-bubble {
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    -ms-transition: all .2s linear;
    transition: all .2s linear;
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
}
.ui-bubble-hover:hover .ui-bubble {
    visibility: visible;
    opacity: 1;
    top: -55px;
}